.container{
  h1 {
    margin-top: 10vh;
    font-size: 3rem;
    line-height: 1.2;
    @media (max-width: 768px) {
      text-align: center;
      font-size: 2.5rem;
    }
    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }
  .about-section {
    width: 80vw;
    margin-top: 2vh;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    .content {
      width: 66%;
      @media (max-width: 992px) {
        width: 100%;
      }
  
      p {
        margin-top: 1vh;
        font-size: 1.5rem;
        line-height: 1.5;
        @media (max-width: 992px) {
          font-size: 1.2rem;
          text-align: center;
        }
        @media (max-width: 768px) {
          font-size: 1rem;
        }
        @media (max-width: 480px) {
          font-size: 0.9rem;
        }
      }
    }
  
    .img-fluid {
      width: 33%;
      align-items: right;
      justify-content: center;
      overflow: hidden;
      padding: 1%;
      margin-bottom: 1rem;
      object-fit: scale-down;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
